// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary-black: #232323;
$color-primary-orange: #fad553;
$color-primary-green: #8ce157;
$color-primary-white: #fff;
$color-primary-gray: #727272;
// Fonts
$font-primary: 'TTNorms', sans-serif;
