// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary-black: #232323;
$color-primary-orange: #fad553;
$color-primary-green: #8ce157;
$color-primary-white: #fff;
$color-primary-gray: #727272;
$color-primary-blue: #72abe0;

$color-secondary-black: #424242;
$color-secondary-gray: #949494;
$color-secondary-orange: #8c772c;
$color-secondary-white: #f1f1f1;

$color-tertiary-gray: #d9d9d9;
$color-tertiary-orange: #caae4d;

$color-quaternary-oragne: #ffe27c;
$color-quaternary-gray: #838383;

$color-quinary-gray: #b5b5b5;

$color-form-success: $color-primary-green;
$color-form-error: #d4251f;
$color-form-input: darken($color-secondary-white, 5);
// Fonts
$font-primary: 'TTNorms', sans-serif;
//Border
$border-r-sm: 5px;
$border-r-lg: 10px;
