header.header
  .container
    .header__inner
      +logo
      .header__group
        +phone({withCallback: false})
        button.header__callback
          +icon('header__callback-icon', 'callback')
          |Обратный звонок
