doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="Озеленение искусственными, живыми и стабилизированными растениями")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
      script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")

      script(src="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.js")
      link(rel="stylesheet" href="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.css")

      script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.5/dist/fancybox.umd.js")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")

      script(src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/js/tabby.polyfills.min.js")

      link(rel="stylesheet" href="css/style.min.css")

      block title
        title Grinetto
  body
    include ../includes/common/mixins
    include ../includes/modal/mixins
    include header
    block header
      +header
    .page
      block content
      block footer
        include footer
    +modalBiologist
    +modalSelection
    +modalQuestions
    +modalStabilized
    +modalCatalog
    +modalCostCare
    +modalCostCommercial
    +modalCostProduct
    +modalVideo
    #overlay.overlay
    block scripts
      script(src="scripts/main.min.js")
