mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin logo
  .logo
    p.logo__name Grinetto
    p.logo__descrip Озеленение помещений в Москве под ключ

mixin phone(obj)
  .phone
    a.phone__number(href="tel:89032038690") 8 903 203-86-90
    if obj.withCallback
      button.phone__callback(data-modal-target="modal-questions") Обратный звонок
    else
      p.phone__worktime Ежедневно с 9.00 до 20.00

mixin modalButton(target, txt, icon= null)
  button.button(data-modal-target= target type="button")= txt
    if icon
      +icon('button__icon', icon)

mixin submitButton(txt)
  button.button.button--submit= txt

mixin button(id, txt, icon)
  button.button(id= id type="button")= txt
    if icon
      +icon('button__icon', icon)

mixin sectionAlert(title)
  section.social.social--alert
    .container
      .social__inner
        .social__content
          a.social__back(href="index.html")
            <svg class="social__back-icon" width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 7.27441C17 7.65411 16.7178 7.9679 16.3518 8.01757L16.25 8.02441L1.25 8.02441C0.835787 8.02441 0.5 7.68863 0.5 7.27441C0.5 6.89472 0.782154 6.58092 1.14823 6.53126L1.25 6.52441L16.25 6.52441C16.6642 6.52441 17 6.8602 17 7.27441Z" fill="#72ABE0"/>
              <path d="M7.82899 12.7673C8.12251 13.0595 8.12354 13.5344 7.83128 13.8279C7.56558 14.0948 7.14897 14.1199 6.85489 13.9027L6.77062 13.8302L0.720618 7.80623C0.452981 7.53974 0.428634 7.12163 0.647588 6.82755L0.720574 6.74333L6.77057 0.718329C7.06407 0.426043 7.53895 0.427026 7.83123 0.720525C8.09695 0.987342 8.12029 1.40406 7.90183 1.69721L7.82904 1.78118L2.313 7.27506L7.82899 12.7673Z" fill="#72ABE0"/>
            </svg>
            |Вернуться на главную страницу
          .social__titles
            h2.social__title.title
              span Мы получили ваш запрос&nbsp;
              = title
            p.social__wait
              |Пока ждете...
              span почитайте наши социальные сети
            h3.social__subtitle Инструкции по самостоятельным замерам и монтажу откосов, эксперименты с откосами, свежие примеры работы, отзывы заказчиков, сезонные акции
          ul.social__list
            li.social__item
              a(href="#" aria-label="facebook" target="_blank" rel="noopener")
                img.lozad(data-src="images/icons/facebook.png", width="185", height="60", alt="")
            li.social__item
              a(href="#" aria-label="vkontakte" target="_blank" rel="noopener")
                img.lozad(data-src="images/icons/vk.png", width="185", height="60", alt="")
            li.social__item
              a(href="#" aria-label="instagram" target="_blank" rel="noopener")
                img.lozad(data-src="images/icons/insta.png", width="185", height="60", alt="")
            li.social__item
              a(href="#" aria-label="youtube" target="_blank" rel="noopener")
                img.lozad(data-src="images/icons/yt.png", width="185", height="60", alt="")
        img.social__img.lozad(data-src="images/social/phone.png", width="402", height="457", alt="")
