.logo {
  display: flex;
  align-items: center;

  &__name {
    font-weight: 500;
    font-size: 2.8rem;
    color: $color-primary-white;

    padding: 1.8rem 3rem;
    margin-right: 3rem;

    border-radius: $border-r-sm;
    background-color: $color-primary-green;
  }

  &__descrip {
    font-size: 1.4rem;
    line-height: 1.3;
    color: $color-secondary-gray;

    max-width: 16.1rem;
  }
}
