.logo {
  display: flex;
  align-items: center;

  &__icon {
    height: 21px;
    width: 193px;

    margin-right: 3rem;
  }

  &__descrip {
    font-size: 1.4rem;
    line-height: 1.3;
    color: $color-secondary-gray;

    max-width: 16.1rem;
  }

  @include media-tablet-sm {
    &__descrip {
      display: none;
    }

    &__icon {
      margin-right: 0;
    }
  }
}
