.phone {
  display: flex;
  flex-direction: column;

  width: fit-content;

  &:not(:last-child) {
    margin-right: 13px;
  }

  &__number {
    font-weight: 500;
    font-size: 2rem;
    color: $color-primary-black;
  }

  &__worktime {
    color: $color-secondary-gray;
    letter-spacing: 0.04em;
    font-size: 12px;
  }

  &__callback {
    @include button-dashed;
  }
}
