mixin plusIcon(className)
  svg(class= className width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='25.0002' cy='25' r='25' fill='white')
    circle(cx='25.0002' cy='25' r='20' fill='url(#paint0_linear)')
    path(d='M26.4446 32.626H23.5559V26.5H17.4299V23.4453H23.5559V17.3193H26.4446V23.4453H32.554V26.5H26.4446V32.626Z' fill='white')
    defs
      lineargradient#paint0_linear(x1='25.0002' y1='5' x2='25.0002' y2='45' gradientunits='userSpaceOnUse')
        stop(stop-color='#FAD553')
        stop(offset='1' stop-color='#FFC700')


mixin reviewsVideo(img)
  li.reviews__video
    .reviews__video-content.lozad(data-background-image=`images/reviews/video/${img}`)
      button.reviews__video-button
        +icon('reviews__video-button-icon', 'play-circle')
        |Смотреть видео-отзыв
    .reviews__video-info
      .reviews__video-info-top
        p.reviews__video-info-name Иван Иванов
        ul.reviews__video-info-social
          li
            a(href="#" target="_blank" rel="noopener" aria-label="facebook")
              img.lozad(data-src="images/icons/facebook-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="vkontakte")
              img.lozad(data-src="images/icons/vk-sm.png", width="40", height="40", alt="")
          li
            a(href="#" target="_blank" rel="noopener" aria-label="instagram")
              img.lozad(data-src="images/icons/insta-sm.png", width="40", height="40", alt="")
      p.reviews__video-info-bot Руководитель ресторана Vеранда

mixin reviewsImage(img, dataNum)
  li.reviews__images-item
    img.lozad(data-src=`images/reviews/${img}`, data-fancybox=`gallery${dataNum}`, width="270", height="360", alt="")
    .reviews__images-item-content
      +icon('reviews__images-item-icon', 'zoom')
