mixin plusIcon(className)
  svg(class= className width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='25.0002' cy='25' r='25' fill='white')
    circle(cx='25.0002' cy='25' r='20' fill='url(#paint0_linear)')
    path(d='M26.4446 32.626H23.5559V26.5H17.4299V23.4453H23.5559V17.3193H26.4446V23.4453H32.554V26.5H26.4446V32.626Z' fill='white')
    defs
      lineargradient#paint0_linear(x1='25.0002' y1='5' x2='25.0002' y2='45' gradientunits='userSpaceOnUse')
        stop(stop-color='#FAD553')
        stop(offset='1' stop-color='#FFC700')

