extends common/layout

include includes/index/mixins

block content
  main
    //Intro
    section.intro
      .intro__content(style="background-image: url('images/intro/bg.png');")
        .container
          .intro__inner
            .intro__titles
              h1.intro__title
                |Озеленение офисов, заведений horeca и частных домов&nbsp;
                span искусственными, живыми и стабилизированными растениями
              h2.intro__subtitle Поможем создать уют в помещении, разделить  на зоны, скрыть несовершенства планировки и подчеркнуть интерьер
            .intro__catalog-wrapper
              .intro__catalog
                img.intro__catalog-img(src="images/intro/catalog.png", alt="Каталог")
                .intro__catalog-content
                  h3.intro__catalog-title
                    |Скачайте&nbsp;
                    span каталог  30 популярных примеров озеленения&nbsp;
                    |в 2021 году
                  +modalButton(null, 'Получить каталог примеров', 'hand')
      .intro__features
        .container
          ul.intro__features-list
            li.intro__features-item
              h3.intro__features-item-title
                |Опытные фитодизайнеры подбирают растения, которые&nbsp;
                span хорошо приживаются и сохраняют первозданную красоту более 5 лет
              .intro__features-item-img
                img(src="images/intro/service-1.png", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                |Изготавливаем искусственные&nbsp;
                span растения по индивидуальным размерам в любом количестве&nbsp;
                |на собственном производстве
              .intro__features-item-img
                img(src="images/intro/service-2.png", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                span Профессиональный уход за всеми видами растений&nbsp;
                |от наших биологов и фитопотологов
              .intro__features-item-img
                img(src="images/intro/service-3.png", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                span Фиксированные сроки и стоимость&nbsp;
                |без раздувания сметы и скрытых платежей по договору
              .intro__features-item-img
                img(src="images/intro/service-4.png", alt="")

    //Compare
    section.compare
      .container
        h2.compare__title
          span Посмотрите, как мы помогаем создать уют&nbsp;
          |в помещениях с помощью озеленения
        #image-compare.compare__inner
          img(src="images/compare/after.png", alt="")
          img(src="images/compare/before.png", alt="")

    //About
    section.about(style="background-image: url('images/about/bg.png');")
      .container
        h2.about__title
          |Почему наши растения сохраняют&nbsp;
          span первозданную красоту более 5 лет
        .about__inner
          .about__item
            h3.about__item-title
              |Фитодизайнеры подбирают растения,&nbsp;
              span которые точно приживутся в ваших помещениях
            p.about__item-descrip Сначала наш биолог выезжает на объект и оценивает условия в  помещениях:
            ul.list
              li
                p
                  span Тестирует&nbsp;
                  |качество воздуха
              li
                p
                  span Проверяет&nbsp;
                  |есть ли сквозняки и в каких местах
              li
                p
                  span Замеряет у&nbsp;
                  |среднюю температур
              li
                p
                  span Определяет&nbsp;
                  |источники отопления и его интенсивность
            p.about__item-descrip Он передает информацию фитодизайнерам, которые подбирают подходящие для Вас растения
            +modalButton(null, 'Подобрать живые растения', null)
          .about__item.about__item--small
            img.about__item-img(src="images/about/girl.png", alt="")
            h3.about__item-title
              |Вы получите здоровые и жизнеспособные растения,&nbsp;
              span которые проходят систему контроля фитопатолога
            ul.list
              li
                p
                  span 80% растений завозим из Голландии,&nbsp;
                  |остальные покупаем в проверенных российских питомниках
              li
                p
                  span Фитопотолог проверяет все растения&nbsp;
                  |на отсутствие вредителей и болезней
                  |есть ли сквозняки и в каких местах
              li
                p
                  |Полученные растения акклиматизируем к новым условиям с помощью фитоламп.&nbsp;
                  span Только после этого привозим Вам

    //Сare
    section.care(style="background-image: url('images/care/bg.png');")
      .container
        .care__content
          h2.care__title
            span Растения всегда&nbsp;
            |выглядят так словно их посадили только вчера
          h3.care__subtitle
            |благодаря профессиональному уходу&nbsp;
            span от специалистов Grinetto
          ul.care__list
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Санитарная обработка&nbsp;
                |живых растений
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Лечение&nbsp;
                |заболевших растений, борьба с вредителями
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Пересадка растения&nbsp;
                |в случае гибели или потери декоративных качеств
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Очистка листвы от&nbsp;
                |пыли и нанесение на них специальных средств для блеска
          .care__group
            +modalButton(null, 'Рассчитать стоимость ухода', null)
            .care__present
              span Месяц в подарок
              |при заказе озеленения под ключ

    //Prevent
    section.prevent(style="background-image: url('images/prevent/bg.png');")
      .container
        h2.prevent__title
          span Предотвращаем косяки,&nbsp;
          |с которыми сталкиваются 84% заказчиков
        .prevent__slider
          #swiper-prevent.swiper-container
            .swiper-wrapper
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img(src="images/prevent/prevent-1.png", alt="")
                p.prevent__slider-item-txt В жизни растение оказывается больше, чем в дизайне - мешает посетителям и сотрудникам
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img(src="images/prevent/prevent-2.png", alt="")
                p.prevent__slider-item-txt На месте крепления панно или фитостены проходят важные коммуникации
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img(src="images/prevent/prevent-3.png", alt="")
                p.prevent__slider-item-txt Потолок не выдерживает вес подвесного озеленения, которое нарисовал дизайнер
          .swiper-button-prev
          .swiper-button-next
        .prevent__inner
          .prevent__item
            .prevent__content
              h3.prevent__item-title
                span Чтобы избежать подобных ошибок,&nbsp;
                |перед разработкой дизайна озеленения на объект выезжает наш замерщик
              ul.list
                li Он замеряет помещения и конструкции для растения
                li Рассчитывает нагрузку несущих поверхностей
                li Указывает в чертеже все коммуникации, чтобы знать где можно делать вертикальное
            .prevent__item-img
              img(src="images/prevent/prevent-4.png", alt="")
              +modalButton(null, 'Вызвать замерщика', null)
          .prevent__item
            .prevent__content
              h3.prevent__item-title
                span Дизайнер подбирает растения и&nbsp;
                |разрабатывает проект озеленения строго в соответствии с замерами
              ul.list
                li С помощью программы высчитывает нагрузку панно, фитостены и каждого кашпо
                li Сопоставляет размеры растений и количеством места в вашем помещении
            .prevent__item-img
              img(src="images/prevent/prevent-5.png", alt="")
              +modalButton(null, 'Заказать проект', null)

    //Director
    section.director(style="background-image: url('images/director/bg.png');")
      .container
        .director__group
          .director__content
            h2.director__title
              span Изготавливаем искусственные растения&nbsp;
              |по индивидуальным размерам на собственном производстве
            ul.director__list
              li.director__item
                +icon('director__item-icon', 'ruler')
                p.director__item-txt
                  span Любой образец мы можем изменить&nbsp;
                  |как Вы захотите и изготовить в нужных размерам в нужном количестве
              li.director__item
                +icon('director__item-icon', 'plant')
                p.director__item-txt
                  span Используем только качественные комплектующие&nbsp;
                  |от проверенных производителей
          img.director__content-img(src="images/director/grass.jpg", alt="")
        .director__group
          .director__about
            img.director__img(src="images/director/director.png", alt="")
            .director__info
              .director__descrip
                .director__descrip-txt
                  p.director__descrip-name Наталья Иванова
                  p.director__descrip-post Основатель и руководитель студии озеленения Grinetto
                img.director__descrip-signature(src="images/director/signature.png", alt="")
              button.director__descrip-message
                |Обращение руководителя
                +icon('director__descrip-message-icon', 'play')
          .director__content
            h2.director__title.director__title--small
              span Мы ценим честность и уважаем договоренности&nbsp;
              |и никогда не выходим за их рамки
            ul.director__list.director__list--small
              li.director__item
                +icon('director__item-icon', 'wallet')
                p.director__item-txt
                  span Стоимость работ и растений остается прежней до окончания работ -&nbsp;
                  |без скрытых платежей
              li.director__item
                +icon('director__item-icon', 'bond')
                p.director__item-txt
                  span Гарантия сроков&nbsp;
                  |разработки дизайна, производства растений, доставки и монтажа по договору
              li.director__item
                +icon('director__item-icon', 'scheme')
                p.director__item-txt
                  |Если Вы приходите со своим проектом, изготавливаем растения&nbsp;
                  span строго по проекту без самодеятельности
              li.director__item
                +icon('director__item-icon', 'list')
                p.director__item-txt
                  span Если у Вас есть согласованная смета, то мы подготовим проект строго в ее рамках&nbsp;
                  |без малейшего увеличения стоимости

    //Social
    section.social
      .container
        .social__inner
          .social__content
            .social__titles
              h2.social__title
                |Следите за новыми проектами&nbsp;
                span в социальных сетях Grinetto
              h3.social__subtitle Инструкции по самостоятельным замерам и монтажу откосов, эксперименты с откосами, свежие примеры работы, отзывы заказчиков, сезонные акции
            ul.social__list
              li.social__item
                a(href="#" aria-label="facebook" target="_blank" rel="noopener")
                  img(src="images/icons/facebook.png", alt="")
              li.social__item
                a(href="#" aria-label="vkontakte" target="_blank" rel="noopener")
                  img(src="images/icons/vk.png", alt="")
              li.social__item
                a(href="#" aria-label="instagram" target="_blank" rel="noopener")
                  img(src="images/icons/insta.png", alt="")
              li.social__item
                a(href="#" aria-label="youtube" target="_blank" rel="noopener")
                  img(src="images/icons/yt.png", alt="")
          img.social__img(src="images/social/phone.png", alt="")
