extends common/layout

include includes/index/mixins

block content
  main
    //Intro
    section.intro
      .intro__content(style="background-image: url('images/intro/bg.png');")
        .container
          .intro__inner
            .intro__titles
              h1.intro__title
                |Озеленение офисов, заведений horeca и частных домов&nbsp;
                span искусственными, живыми и стабилизированными растениями
              h2.intro__subtitle Поможем создать уют в помещении, разделить  на зоны, скрыть несовершенства планировки и подчеркнуть интерьер
            .intro__catalog-wrapper
              .intro__catalog
                img.intro__catalog-img.intro__catalog-img--absolute.lozad(data-src="images/intro/catalog-sm.png", alt="")
                img.intro__catalog-img(src="images/intro/catalog.png", width="208", height="202", alt="Каталог")
                .intro__catalog-content
                  h3.intro__catalog-title
                    |Скачайте&nbsp;
                    span каталог  30 популярных примеров озеленения&nbsp;
                    |в 2021 году
                  +modalButton('modal-catalog', 'Получить каталог примеров', 'hand')
      .intro__features
        .container
          ul.intro__features-list
            li.intro__features-item
              h3.intro__features-item-title
                |Опытные фитодизайнеры подбирают растения, которые&nbsp;
                span хорошо приживаются и сохраняют первозданную красоту более 5 лет
              .intro__features-item-img
                img.lozad(data-src="images/intro/service-1.png", width="270", height="265", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                |Изготавливаем искусственные&nbsp;
                span растения по индивидуальным размерам в любом количестве&nbsp;
                |на собственном производстве
              .intro__features-item-img
                img.lozad(data-src="images/intro/service-2.png", width="270", height="265", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                span Профессиональный уход за всеми видами растений&nbsp;
                |от наших биологов и фитопотологов
              .intro__features-item-img
                img.lozad(data-src="images/intro/service-3.png", width="270", height="265", alt="")
            li.intro__features-item
              h3.intro__features-item-title
                span Фиксированные сроки и стоимость&nbsp;
                |без раздувания сметы и скрытых платежей по договору
              .intro__features-item-img
                img.lozad(data-src="images/intro/service-4.png", width="270", height="265", alt="")

    //Quiz
    +sectionQuiz

    //Drafts
    section.drafts.drafts--filters
      h2.drafts__title.container
        span Используем современные тренды и технологии&nbsp;
        |для создания неповторимых интерьеров
      form.drafts__filters-form(action="#")
        ul#filter-drafts.drafts__filters.container
          li.drafts__filters-button
            label
              input(value="natural" name="form-drafts-filter" type="checkbox" checked hidden)
              span
                |Натуральные растения
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="synthetic" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Искусственные растения
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="stabilized" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Стабилизированные растения
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="vertical-greening" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Вертикальное озеленение
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="phytowall" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Фитостена
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="planter" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Кашпо
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="panel" name="form-drafts-filter" type="checkbox" checked hidden)
              span
                |Панно
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="stabilized-moss" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Стабилизированный мох
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="palms" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Пальмы
                +icon('drafts__filters-button-icon', 'close')
          li.drafts__filters-button
            label
              input(value="vertical-garden" name="form-drafts-filter" type="checkbox" hidden)
              span
                |Вертикальный сад
                +icon('drafts__filters-button-icon', 'close')

      +draftsImages(
        [
          'draft-8.png',
          'draft-9.png',
          'draft-10.png',
          'draft-11.png',
          'draft-12.png',
          'draft-13.png',
          'draft-14.png',
        ],
        ['Искуственные растения', 'Пальмы']
      )
      button.drafts__more.drafts__more--hidden.container
        +icon('drafts__more-icon', 'refresh')
        |Показать ещё

    //Catalog
    section.catalog.lozad(data-background-image='images/catalog/bg.png')
      .container
        h2.catalog__title
          span Готовые композиции растений&nbsp;
          |в кашпо от дизайнеров Grinetto
        .catalog__slider
          #swiper-catalog.swiper-container
            .swiper-wrapper
              .catalog__item.swiper-slide
                span.catalog__item-mark с автополивом
                img.catalog__item-img.swiper-lazy(data-src="images/catalog/catalog-1.png", width="270", height="330" alt="")
                .catalog__item-content
                  .catalog__item-content-wrapper
                    span.catalog__item-sale -20%
                    .catalog__item-title Райский сад
                    ul.list-disc
                      li: span Живые гортензии
                      li: span Стабилизиорванные лиственницы
                    p.catalog__item-txt Растения родом из настоящих джунглей Подмосковья. Быстро растут и разрастаются за погода до 40 кв.м.  Прятно трогать листики.
                  +modalButton('modal-cost-product', 'Рассчитать стоимость')
              .catalog__item.swiper-slide
                img.catalog__item-img.swiper-lazy(data-src="images/catalog/catalog-2.png", width="270", height="330" alt="")
                .catalog__item-content
                  .catalog__item-content-wrapper
                    .catalog__item-title Райский сад
                    ul.list-disc
                      li: span Живые гортензии
                      li: span Стабилизиорванные лиственницы
                    p.catalog__item-txt Растения родом из настоящих джунглей Подмосковья. Быстро растут и разрастаются за погода до 40 кв.м.  Прятно трогать листики.
                  +modalButton('modal-cost-product', 'Рассчитать стоимость')
              .catalog__item.swiper-slide
                img.catalog__item-img.swiper-lazy(data-src="images/catalog/catalog-3.png", width="270", height="330" alt="")
                .catalog__item-content
                  .catalog__item-content-wrapper
                    .catalog__item-title Райский сад
                    ul.list-disc
                      li: span Живые гортензии
                      li: span Стабилизиорванные лиственницы
                    p.catalog__item-txt Растения родом из настоящих джунглей Подмосковья. Быстро растут и разрастаются за погода до 40 кв.м.  Прятно трогать листики.
                  +modalButton('modal-cost-product', 'Рассчитать стоимость')
              .catalog__item.swiper-slide
                img.catalog__item-img.swiper-lazy(data-src="images/catalog/catalog-2.png", width="270", height="330" alt="")
                .catalog__item-content
                  .catalog__item-content-wrapper
                    .catalog__item-title Райский сад
                    ul.list-disc
                      li: span Живые гортензии
                      li: span Стабилизиорванные лиственницы
                    p.catalog__item-txt Растения родом из настоящих джунглей Подмосковья. Быстро растут и разрастаются за погода до 40 кв.м.  Прятно трогать листики.
                  +modalButton('modal-cost-product', 'Рассчитать стоимость')
            .swiper-button-prev
            .swiper-button-next
            #swiper-pagination-catalog.swiper-pagination
        .catalog__inner
          .catalog__content
            h2.catalog__title
              span Скачайте каталог&nbsp;
              |со 100 примерами озеленения под ключ и готовых композиций с описанием и ценами
            h3.catalog__subtitle
              span и получите гарантированную скидку 5%
              |на озеленение вашего объекта
            .catalog__info
              p.catalog__info-txt В каталоге примеры озеленения для:
              ul.list-disc
                li Офисных помещений
                li ТРЦ и бизнес-центров
                li Заведений horeca
                li Частных домов
              .catalog__info-icon
                img(src="images/catalog/pdf.png", width="110", height="92", alt="")
          .catalog__form
            .catalog__form-inner
              h4.catalog__form-title Куда прислать каталог?
              form#form-catalog.form(action="#" method="POST" name="Каталог")
                .form__group
                  .form__control
                    span.form__error
                    label.form__checkbox-wrapper
                      input.form__checkbox(value="whatsapp" name="form-catalog-messenger" type="radio" data-form-messenger checked)
                      span.form__checkbox-styled.form__checkbox-styled--rect
                      span.form__checkbox-txt WhatsApp
                  .form__control
                    span.form__error
                    label.form__checkbox-wrapper
                      input.form__checkbox(value="telegram" name="form-catalog-messenger" type="radio" data-form-messenger)
                      span.form__checkbox-styled.form__checkbox-styled--rect
                      span.form__checkbox-txt Telegram
                  .form__control
                    span.form__error
                    label.form__checkbox-wrapper
                      input.form__checkbox(value="e-mail" name="form-catalog-messenger" type="radio" data-form-messenger)
                      span.form__checkbox-styled.form__checkbox-styled--rect
                      span.form__checkbox-txt E-mail
                .form__control
                  span.form__error
                  input.form__input(name="form-catalog-phone" type="tel" placeholder="Введите Ваш телефон" data-form-phone)
                .form__control
                  span.form__error
                  input.form__input(name="form-catalog-email" type="email" placeholder="Введите Ваш e-mail" data-form-email)
                +submitButton('Получить каталог')
                .form__disclaimer
                  p Нажимая на кнопку, Вы соглашаетесь
                  button с политикой конфиденциальности сайта

    //Compare
    section.compare.lozad(data-background-image='images/compare/bg.png')
      .container
        h2.compare__title
          span Посмотрите, как мы помогаем создать уют&nbsp;
          |в помещениях с помощью озеленения
        #image-compare.compare__inner
          img.lozad(data-src="images/compare/after.png", width="1170", height="600", alt="")
          img.lozad(data-src="images/compare/before.png", width="1170", height="600", alt="")

    //About
    section.about.lozad(data-background-image='images/about/bg.png')
      .container
        h2.about__title
          |Почему наши растения сохраняют&nbsp;
          span первозданную красоту более 5 лет
        .about__inner
          .about__item
            h3.about__item-title
              |Фитодизайнеры подбирают растения,&nbsp;
              span которые точно приживутся в ваших помещениях
            p.about__item-descrip Сначала наш биолог выезжает на объект и оценивает условия в  помещениях:
            ul.list-rect
              li
                p
                  span Тестирует&nbsp;
                  |качество воздуха
              li
                p
                  span Проверяет&nbsp;
                  |есть ли сквозняки и в каких местах
              li
                p
                  span Замеряет у&nbsp;
                  |среднюю температур
              li
                p
                  span Определяет&nbsp;
                  |источники отопления и его интенсивность
            p.about__item-descrip Он передает информацию фитодизайнерам, которые подбирают подходящие для Вас растения
            +modalButton('modal-biologist', 'Подобрать живые растения', null)
          .about__item.about__item--small
            img.about__item-img.lozad(data-src="images/about/girl.png", width="470", height="666", alt="")
            h3.about__item-title
              |Вы получите здоровые и жизнеспособные растения,&nbsp;
              span которые проходят систему контроля фитопатолога
            ul.list-rect
              li
                p
                  span 80% растений завозим из Голландии,&nbsp;
                  |остальные покупаем в проверенных российских питомниках
              li
                p
                  span Фитопотолог проверяет все растения&nbsp;
                  |на отсутствие вредителей и болезней
                  |есть ли сквозняки и в каких местах
              li
                p
                  |Полученные растения акклиматизируем к новым условиям с помощью фитоламп.&nbsp;
                  span Только после этого привозим Вам

    //Gains
    section.gains.lozad(data-background-image='images/gains/bg.png')
      .container
        .gains__inner
          .gains__descrip
            h2.gains__title
              |Искусственные растения также тщательно проверяются,&nbsp;
              span чтобы Вы получили лучшие экземпляры
            h3.gains__subtitle Заказываем образцы, чтобы проверить качество каждого экземпляра согласно эталонам качества и журналу несоответствия
            +modalButton('modal-questions', 'Подобрать искуственные растения')
          .gains__img
            img.lozad(data-src="images/gains/plants.png", width="1004", height="695", alt="")
            .gains__content
              .gains__item.gains__item--top-left
                +plusIcon('gains__item-icon')
                p.gains__item-content
                  span Отсутствует&nbsp;
                  |едкий химический запах
              .gains__item.gains__item--top-right
                +plusIcon('gains__item-icon')
                p.gains__item-content
                  span Отсутствует&nbsp;
                  |едкий химический запах
              .gains__item.gains__item--center
                +plusIcon('gains__item-icon')
                p.gains__item-content
                  span Отсутствует&nbsp;
                  |едкий химический запах
              .gains__item.gains__item--bot-left
                +plusIcon('gains__item-icon')
                p.gains__item-content
                  span Отсутствует&nbsp;
                  |едкий химический запах
              .gains__item.gains__item--bot-right
                +plusIcon('gains__item-icon')
                p.gains__item-content
                  span Отсутствует&nbsp;
                  |едкий химический запах

    //Сare
    section.care.lozad(data-background-image='images/care/bg.png')
      .container
        .care__content
          h2.care__title
            span Растения всегда&nbsp;
            |выглядят так словно их посадили только вчера
          h3.care__subtitle
            |благодаря профессиональному уходу&nbsp;
            span от специалистов Grinetto
          ul.care__list
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Санитарная обработка&nbsp;
                |живых растений
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Лечение&nbsp;
                |заболевших растений, борьба с вредителями
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Пересадка растения&nbsp;
                |в случае гибели или потери декоративных качеств
            li.care__item
              +icon('care__item-icon', 'check')
              p
                span Очистка листвы от&nbsp;
                |пыли и нанесение на них специальных средств для блеска
          .care__group
            +modalButton('modal-cost-care', 'Рассчитать стоимость ухода', null)
            .care__present
              span Месяц в подарок
              |при заказе озеленения под ключ

    //Prevent
    section.prevent.lozad(data-background-image='images/prevent/bg.png')
      .container
        h2.prevent__title
          span Предотвращаем косяки,&nbsp;
          |с которыми сталкиваются 84% заказчиков
        .prevent__slider
          #swiper-prevent.swiper-container
            .swiper-wrapper
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img.swiper-lazy(data-src="images/prevent/prevent-1.png", width="370", height="260", alt="")
                p.prevent__slider-item-txt В жизни растение оказывается больше, чем в дизайне - мешает посетителям и сотрудникам
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img.swiper-lazy(data-src="images/prevent/prevent-2.png", width="370", height="260", alt="")
                p.prevent__slider-item-txt На месте крепления панно или фитостены проходят важные коммуникации
              .prevent__slider-item.swiper-slide
                img.prevent__slider-item-img.swiper-lazy(data-src="images/prevent/prevent-3.png", width="370", height="260", alt="")
                p.prevent__slider-item-txt Потолок не выдерживает вес подвесного озеленения, которое нарисовал дизайнер
          .swiper-button-prev
          .swiper-button-next
          #swiper-pagination-prevent.swiper-pagination
        .prevent__inner
          .prevent__item
            .prevent__content
              h3.prevent__item-title
                span Чтобы избежать подобных ошибок,&nbsp;
                |перед разработкой дизайна озеленения на объект выезжает наш замерщик
              ul.list-rect
                li Он замеряет помещения и конструкции для растения
                li Рассчитывает нагрузку несущих поверхностей
                li Указывает в чертеже все коммуникации, чтобы знать где можно делать вертикальное
            .prevent__item-img
              img.lozad(data-src="images/prevent/prevent-4.png", width="570", height="330", alt="")
              +modalButton('modal-questions', 'Вызвать замерщика')
          .prevent__item
            .prevent__content
              h3.prevent__item-title
                span Дизайнер подбирает растения и&nbsp;
                |разрабатывает проект озеленения строго в соответствии с замерами
              ul.list-rect
                li С помощью программы высчитывает нагрузку панно, фитостены и каждого кашпо
                li Сопоставляет размеры растений и количеством места в вашем помещении
            .prevent__item-img
              img.lozad(data-src="images/prevent/prevent-5.png", width="570", height="330", alt="")
              +modalButton('modal-cost-commercial', 'Заказать проект')

    //Director
    section.director.lozad(data-background-image='images/director/bg.png')
      .container
        .director__group
          .director__content
            h2.director__title
              span Изготавливаем искусственные растения&nbsp;
              |по индивидуальным размерам на собственном производстве
            ul.director__list
              li.director__item
                +icon('director__item-icon', 'ruler')
                p.director__item-txt
                  span Любой образец мы можем изменить&nbsp;
                  |как Вы захотите и изготовить в нужных размерам в нужном количестве
              li.director__item
                +icon('director__item-icon', 'plant')
                p.director__item-txt
                  span Используем только качественные комплектующие&nbsp;
                  |от проверенных производителей
          img.director__content-img.lozad(data-src="images/director/grass.jpg", width="570", height="380", alt="")
        .director__group
          .director__about
            img.director__img.lozad(data-src="images/director/director.png", width="502", height="526", alt="")
            .director__info
              .director__descrip
                .director__descrip-txt
                  p.director__descrip-name Наталья Иванова
                  p.director__descrip-post Основатель и руководитель студии озеленения Grinetto
                img.director__descrip-signature.lozad(data-src="images/director/signature.png", width="107", height="63", alt="")
              button.director__descrip-message(data-src="https://www.youtube.com/embed/MfL_JkcEFbE" data-modal-target="modal-video")
                |Обращение руководителя
                +icon('director__descrip-message-icon', 'play')
          .director__content
            h2.director__title.director__title--small
              span Мы ценим честность и уважаем договоренности&nbsp;
              |и никогда не выходим за их рамки
            ul.director__list.director__list--small
              li.director__item
                +icon('director__item-icon', 'wallet')
                p.director__item-txt
                  span Стоимость работ и растений остается прежней до окончания работ -&nbsp;
                  |без скрытых платежей
              li.director__item
                +icon('director__item-icon', 'bond')
                p.director__item-txt
                  span Гарантия сроков&nbsp;
                  |разработки дизайна, производства растений, доставки и монтажа по договору
              li.director__item
                +icon('director__item-icon', 'scheme')
                p.director__item-txt
                  |Если Вы приходите со своим проектом, изготавливаем растения&nbsp;
                  span строго по проекту без самодеятельности
              li.director__item
                +icon('director__item-icon', 'list')
                p.director__item-txt
                  span Если у Вас есть согласованная смета, то мы подготовим проект строго в ее рамках&nbsp;
                  |без малейшего увеличения стоимости

    //Drafts
    section.drafts
      h2.drafts__title.container
        |Свежие проекты&nbsp;
        span Grinetto
      +draftsImages(
        [
          'draft-1.png',
          'draft-2.png',
          'draft-3.png',
          'draft-4.png',
          'draft-5.png',
          'draft-6.png',
          'draft-7.png',
        ],
        ['Натуральные', 'Панно']
      )
      button.drafts__more.container
        +icon('drafts__more-icon', 'refresh')
        |Показать ещё

    //Social
    section.social
      .container
        .social__inner
          .social__content
            .social__titles
              h2.social__title
                |Следите за новыми проектами&nbsp;
                span в социальных сетях Grinetto
              h3.social__subtitle Инструкции по самостоятельным замерам и монтажу откосов, эксперименты с откосами, свежие примеры работы, отзывы заказчиков, сезонные акции
            ul.social__list
              li.social__item
                a(href="#" aria-label="facebook" target="_blank" rel="noopener")
                  img.lozad(data-src="images/icons/facebook.png", width="185", height="60", alt="")
              li.social__item
                a(href="#" aria-label="vkontakte" target="_blank" rel="noopener")
                  img.lozad(data-src="images/icons/vk.png", width="185", height="60", alt="")
              li.social__item
                a(href="#" aria-label="instagram" target="_blank" rel="noopener")
                  img.lozad(data-src="images/icons/insta.png", width="185", height="60", alt="")
              li.social__item
                a(href="#" aria-label="youtube" target="_blank" rel="noopener")
                  img.lozad(data-src="images/icons/yt.png", width="185", height="60", alt="")
          img.social__img.lozad(data-src="images/social/phone.png", width="402", height="457", alt="")

    //Reviews
    section.reviews.lozad(data-background-image='images/reviews/bg.png')
      .container
        h2.reviews__title Отзывы заказчиков
        ul#filter-tabs.reviews__filters(data-tabs)
          li.reviews__filters-item
            a.reviews__filters-button(href="#videos" data-tabby-default) Видео
          li.reviews__filters-item
            a.reviews__filters-button(href="#gratitudes") Благодарности
          li.reviews__filters-item
            a.reviews__filters-button(href="#socials") В социальных сетях
        #videos.reviews__tab.reviews__videos
          +reviewsVideo('video-1.png')
          +reviewsVideo('video-1.png')
          +reviewsVideo('video-1.png')
          +reviewsVideo('video-1.png')
        #gratitudes.reviews__tab.reviews__images
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
          +reviewsImage('gratitude/gratitude-1.png', '01')
        #socials.reviews__tab.reviews__images
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')
          +reviewsImage('social/social-1.png', '02')

    //Quiz
    +sectionQuiz
