.compare {
  margin-bottom: 8.7rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-tablet-lg {
    .container {
      padding: 0;
    }
  }
}

.compare__title {
  font-size: 3.6rem;
  text-align: center;

  margin-bottom: 4rem;

  span {
    font-weight: 500;

    display: block;
  }

  @include media-tablet-lg {
    padding: 0 15px;
  }

  @include title;
}

.compare__inner {
  border-radius: $border-r-lg;

  @include media-tablet-lg {
    border-radius: 0;
  }
}
