.drafts {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5rem;
  padding-top: 8rem;

  &--filters {
    margin-bottom: 8.4rem;

    .drafts__title {
      span {
        display: block;
      }
    }
  }
}

.drafts__title {
  font-size: 3.6rem;
  text-align: center;

  margin-bottom: 4.3rem;

  span {
    font-weight: 500;
  }

  @include title;
}

.drafts__filters {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  margin-bottom: 2rem;

  @include media-tablet-lg {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    scrollbar-width: none;

    flex-wrap: nowrap;
  }

  &-form {
    width: 100%;
  }

  &-item {
    margin-bottom: 2rem;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-button {
    color: $color-primary-gray;
    font-size: 14px;

    border-radius: $border-r-sm;

    margin-right: 15px;
    margin-bottom: 15px;

    white-space: nowrap;
    user-select: none;

    @include media-tablet-lg {
      border: 1px solid $color-primary-orange;
    }

    &:hover {
      color: $color-primary-black;
    }

    label {
      cursor: pointer;
    }

    span {
      display: inline-block;

      transition: background-color 0.1s linear, color 0.1s linear;

      padding: 2rem 3rem;

      @include media-tablet-lg {
        padding: 15px 20px;

        border-radius: none;
      }
    }

    & input:checked + span {
      background-color: $color-primary-orange;
      color: $color-primary-white;
      border-radius: $border-r-sm;

      @include media-tablet-sm {
        border-radius: 0;
      }
    }

    &-icon {
      margin-left: 2rem;
      margin-bottom: 2px;

      width: 12px;
      height: 12px;

      vertical-align: middle;

      pointer-events: none;
    }
  }
}

.drafts__inner {
  display: flex;

  margin-bottom: 5.1rem;

  @include media-desktop-sm {
    flex-direction: column;
  }
}

.drafts__container {
  display: flex;
  flex-direction: column;

  &--sm {
    flex: 2;

    @include media-desktop-sm {
      flex-direction: row;
    }

    @include media-tablet-sm {
      flex-direction: column;
    }
  }

  &--lg {
    flex: 3;
  }

  &-inner {
    display: flex;

    @include media-tablet-sm {
      &:last-child {
        display: none;
      }
    }

    @include media-smartphone-lg {
      flex-direction: column;
    }
  }
}

.drafts__item {
  position: relative;

  &:hover {
    .drafts__item-content {
      background-color: rgba(35, 35, 35, 0.6);
    }

    .button {
      opacity: 1;
    }
  }

  &-img {
    max-width: unset;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &--sm {
    max-height: 42rem;
    width: 100%;
    height: 100%;

    @include media-desktop-sm {
      max-height: unset;
    }
  }

  &--md {
    flex: 2;

    max-width: 46rem;
    width: 100%;

    @include media-tablet-sm {
      max-width: unset;
    }
  }

  &--lg {
    max-height: 51rem;
    max-width: 78rem;
    width: 100%;
    height: 100%;

    @include media-desktop-sm {
      max-width: unset;
    }
  }

  &--xl {
    flex: 3;
  }

  &--xl,
  &--md {
    max-height: 60rem;
    height: 100%;

    @include media-laptop {
      max-height: unset;
      height: unset;
    }

    @include media-tablet-sm {
      flex: unset;
    }
  }

  &--xl,
  &--md,
  &--lg {
    @include media-tablet-sm {
      height: 480px;
    }
  }

  &-content {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 3rem;

    transition: background-color 0.1s linear;

    @include media-desktop {
      padding: 2rem;
    }

    .button {
      align-self: flex-start;

      opacity: 0;

      transition: opacity 0.1s linear, filter 0.1s linear;

      @include media-desktop {
        font-size: 12px;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    li {
      color: $color-primary-white;
      font-size: 12px;

      margin-bottom: 10px;
      padding: 15px;

      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 40px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.drafts__more {
  color: lighten($color-secondary-gray, 0.7);
  font-size: 2.4rem;

  width: fit-content;

  &:hover {
    .drafts__more-icon {
      transform: rotate(-90deg);
    }
  }

  &--hidden {
    display: none;

    @include media-tablet-sm {
      display: unset;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;

    margin-right: 20px;

    vertical-align: middle;

    transition: transform 0.1s linear;
  }
}
