@mixin decorator-bot {
  &::after {
    position: absolute;

    content: '';

    left: 50%;
    bottom: -10px;

    transform: translateX(-50%);

    width: 90%;
    height: 10px;

    border-bottom-left-radius: $border-r-lg;
    border-bottom-right-radius: $border-r-lg;

    background: $color-primary-orange;
  }
}
