.list-disc {
  li {
    display: flex;

    line-height: 1.3;
    font-size: 1.4rem;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &::before {
      display: inline-block;

      content: '';

      margin-right: 9px;

      margin-top: 0.8rem;

      min-height: 4px;
      min-width: 4px;
      max-height: 4px;
      max-width: 4px;

      background-color: $color-primary-black;

      border-radius: 50%;
    }

    span {
      font-weight: 500;
    }
  }
}
