.list-rect {
  li {
    display: flex;
    align-items: baseline;

    line-height: 1.3;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &::before {
      display: inline-block;

      content: '';

      margin-right: 1.5rem;

      min-height: 12px;
      min-width: 12px;

      border: 2px solid $color-primary-orange;
      border-radius: 2px;
    }

    span {
      font-weight: 500;
    }
  }
}
