.social {
  &--alert {
    .social__inner {
      align-items: unset;
    }

    .social__content {
      padding-bottom: 10rem;
      padding-top: 4.5rem;

      @include media-tablet-lg {
        padding-bottom: 20px;
      }
    }

    .social__img {
      align-self: flex-end;
    }

    .social__title {
      margin-bottom: 6.5rem;

      max-width: 69rem;

      span {
        margin-bottom: 0;
        display: unset;
      }

      @include media-tablet-lg {
        margin-bottom: 30px;
      }
    }
  }
}

.social__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__titles {
  margin-bottom: 4rem;
}

.social__wait {
  font-size: 2rem;

  margin-bottom: 3.2rem;

  span {
    display: block;

    font-size: 3rem;
    font-weight: 500;
  }
}

.social__content {
  margin-right: 5rem;

  @include media-laptop {
    margin-right: 0;
  }
}

.social__back {
  margin-bottom: 6rem;

  color: $color-primary-blue;

  &-icon {
    margin-right: 16px;

    width: 14px;
    height: 14px;

    vertical-align: middle;
  }

  @include media-tablet-lg {
    margin-bottom: 25px;
  }
}

.social__title {
  font-size: 3.6rem;
  line-height: 1.4;

  margin-bottom: 2rem;

  span {
    font-weight: 500;

    display: block;
  }

  @include title;
}

.social__subtitle {
  font-size: 2rem;
  line-height: 1.3;
}

.social__list {
  display: flex;
  justify-content: space-between;

  @include media-laptop {
    flex-wrap: wrap;
  }

  @include media-smartphone-lg {
    align-items: center;
    flex-direction: column;
  }
}

.social__img {
  max-width: 40.2rem;
  width: 100%;

  @include media-laptop {
    display: none;
  }
}

.social__item {
  margin-bottom: 2rem;

  transition: filter 0.1s linear;

  img {
    max-width: unset;
  }

  &:hover {
    filter: brightness(90%);
  }

  margin-right: 2rem;
}
