.swiper-container {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  top: 45%;

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: $color-primary-white;

    background-color: $color-primary-orange;
    border-radius: 50%;

    min-height: 60px;
    min-width: 60px;
  }
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
}
